@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* Icon 4 - By Jesse Couch Codepen: https://codepen.io/designcouch*/
/* Forked Codepen: https://codepen.io/designcouch/pen/Atyop*/
/* Modified by Edgar Carrillo */

.nav-icon4 {
  z-index: 100;
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 10px;
}

.nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #c4c4c4;
  /* border-radius: 9px; */
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #c4c4c4;
  background-color: #fff;
}

.mobile-nav-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  height: 100%;
}

.nav-logo {
  font-family: 'Roboto-Bold';
  color: #0083ff;
  font-size: 1.4rem;
}

.ham-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 100%;
}

.dd-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  overflow: hidden;
  height: 260px;
  width: 150px;
  border-top: 2px solid #c4c4c4;
}

.dd-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100px;
  height: 250px;
  border-radius: 0 0 50px 50px;
  border: 2px solid #c4c4c4;
  background-color: #fff;
  transition: margin-top 0.5s;
  margin-top: -300px;
}

/* Makes the dd-menu disappear */
.dd-menu.open-dd {
  margin-top: -2px;
}

.dd-menu > li {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0083ff;
}

.form-card-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  max-width: 1000px;
}

.intro-text-main-container {
  margin: 10px auto 0px;
  margin-left: 25px;
  margin-right: 25px;
}

.intro-text-container {
  padding-top: 80px;
}

.intro-text-container > h1 {
  font-family: 'Roboto-Bold';
  font-size: 2.5rem;
  line-height: 1.3;
}

.intro-text-complementary-text {
  margin-top: 15px;
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  color: #8d8d8d;
  line-height: 1.3;
}

form {
  border-top: 2px solid #c4c4c4;
  padding-top: 30px;
  margin-top: 30px;
}

input,
label {
  display: block;
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  color: #6f6f6f;
}

label {
  margin-left: 25px;
  margin-bottom: 10px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
  border: 0px none;
  color: black;
}
form ul li > div {
  background-color: #f1f1f1;
  padding: 5px 20px 5px 20px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
}

.form-data-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.error-message {
  margin-left: 25px;
  font-family: 'Roboto-Regular';
  color: #ff4545;
}

.submit-btn {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0083ff;
  color: #fff;
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 100px;
  margin-bottom: 20px;
}

footer > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer > ul > li {
  width: 50px;
  height: 50px;
}

.small-img {
  width: 100%;
}

footer > p {
  font-family: 'Roboto-Regular';
}

.gh-link {
  color: #0083ff;
}
